{% extends 'base.html' %}
{% block title %}跨站请求伪造（CSRF）漏洞{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}" />
{% endblock %}

{% block content %}
<form id="loginTable" method="POST">
    <input type="text" placeholder="输入用户名" name="username">
    <input type="password" placeholder="输入密码" name="password">
    <input type="submit" value="登录">
</form>
<div id='csrf'>
    <div>{{ user['msg'] }}</div>
    <div>{{ user['info'].signature}}</div>
</div>

{% endblock %}