{% extends 'base.html' %}
{% block title %}水平越权访问{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}"/>
{% endblock %}

{% block content %}
{% if user != None %}
<div class='csrf'>
    <div>uid：{{ user['uid'] }}</div>
    <div>username：{{ user['username'] }}</div>
    <div>password：{{ user['password'] }}</div>
    <div>gender：{{ user['gender'] }}</div>
    <div>age：{{ user['age'] }}</div>
    <div>E-Mail：{{ user['email'] }}</div>
    <div>signature：{{ user['signature'] }}</div>
    <div>money：{{ user['money'] }}</div>
</div>
{% else %}
<div class='csrf'>
    <div>不存在此用户！</div>
</div>
{% endif %}
{% endblock %}